In [1]:
%reload_ext autoreload
%autoreload 2

## **Transform github excel gebiedsdefinities to json, in format {code : level_name}**

In [2]:
import os
import pandas as pd
import json

from settings import PINC_GITHUB_DIR, JSON_CONF_DIR
from util.misc import write_json_file

#### **Transform gemeente.xlsx to json**

In [3]:
filename = 'gemeente.xlsx'
file = PINC_GITHUB_DIR + '/' + filename
print(file)

./config/pinc_github_dir/gemeente.xlsx

In [4]:
df = pd.read_excel(file, engine='openpyxl')

In [5]:
df.head()

   volgnr  gebiedscode   naam_kort        naam
0       1        41002       Aalst       Aalst
1       2        44084      Aalter      Aalter
2       3        24001    Aarschot    Aarschot
3       4        11001  Aartselaar  Aartselaar
4       5        23105    Affligem    Affligem

In [6]:
dic = df.set_index('gebiedscode')['naam'].to_dict()

In [8]:
write_json_file(dic, 'gemeente.json')

Writing to: ./config/json_config_dir/gemeente.json

#### **Transform gemeente2018.xlsx to json**

In [3]:
filename = 'gemeente2018.xlsx'
file = PINC_GITHUB_DIR + '/' + filename
print(file)

./config/pinc_github_dir/gemeente2018.xlsx

In [4]:
df = pd.read_excel(file, engine='openpyxl')

In [5]:
df.head()

   volgnr  gebiedscode   naam_kort        naam
0       1        41002       Aalst       Aalst
1       2        44001      Aalter      Aalter
2       3        24001    Aarschot    Aarschot
3       4        11001  Aartselaar  Aartselaar
4       5        23105    Affligem    Affligem

In [6]:
dic = df.set_index('gebiedscode')['naam'].to_dict()

In [7]:
write_json_file(dic, 'gemeente2018.json')

Writing to: ./config/json_config_dir/gemeente2018.json

#### **Transform statsec.xlsx to json**

In [9]:
filename = 'statsec.xlsx'
file = PINC_GITHUB_DIR + '/' + filename
print(file)

./config/pinc_github_dir/statsec.xlsx

In [10]:
df = pd.read_excel(file, engine='openpyxl')

In [11]:
df.head()

,volgnr,gebiedscode,naam_kort,naam
0,1,35006B042,'s Gravendries,'s Gravendries (35006B042)
1,2,41024A200,'s Gravenkerselaar,'s Gravenkerselaar (41024A200)
2,3,33037B091,'s Graventafel - Goudberg - Kazakke,'s Graventafel - Goudberg - Kazakke (33037B091)
3,4,73109A091,'s Gravenvoeren -Verspr Bew,'s Gravenvoeren -Verspr Bew (73109A091)
4,5,73109A000,'s Gravenvoeren-Kern,'s Gravenvoeren-Kern (73109A000)

In [12]:
dic = df.set_index('gebiedscode')['naam'].to_dict()

In [13]:
write_json_file(dic, 'statsec.json')

Writing to: ./config/json_config_dir/statsec.json

#### **Create provincies json**

In [5]:
provincies_dict = {'Antwerpen (Prov.)': 10000,
'Brussels Hoofdstedelijk Gewest': 4000,
 'Limburg': 70000,
 'Oost-Vlaanderen': 40000,
 'Vlaams-Brabant': 20001,
 'West-Vlaanderen':30000
}

In [10]:
reversed_provincies_dict = {y:x for x,y in provincies_dict.items()}
print(reversed_provincies_dict)

{10000: 'Antwerpen (Prov.)', 4000: 'Brussels Hoofdstedelijk Gewest', 70000: 'Limburg', 40000: 'Oost-Vlaanderen', 20001: 'Vlaams-Brabant', 30000: 'West-Vlaanderen'}

In [45]:
write_json_file(reversed_provincies_dict, 'provincie.json')

Writing to: ./config/json_config_dir/provincie.json

#### **Create arrondissement json**

In [10]:
filename = 'arrondiss2018.xlsx'
file = PINC_GITHUB_DIR + '/' + filename
print(file)

./config/pinc_github_dir/arrondiss2018.xlsx

In [11]:
df = pd.read_excel(file, engine='openpyxl')

In [12]:
df.head()

   volgnr  gebiedscode           naam_kort                naam
0       1        41000        Aalst (Arr.)        Aalst (Arr.)
1       2        11000    Antwerpen (Arr.)    Antwerpen (Arr.)
2       3        31000       Brugge (Arr.)       Brugge (Arr.)
3       4        21000      Brussel (Arr.)      Brussel (Arr.)
4       5        42000  Dendermonde (Arr.)  Dendermonde (Arr.)

In [13]:
dic = df.set_index('gebiedscode')['naam'].to_dict()

In [14]:
write_json_file(dic, 'arrondiss2018.json')

Writing to: ./config/json_config_dir/arrondiss2018.json